<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xct.media.queuing.mapper.SetBizScreenInfoMapper">
    <resultMap id="setBizScreenInfo" type="com.xct.media.queuing.pojo.bo.SetBizScreenInfoBo">
        <id column="biz_screen_id" property="biz_screen_id"/>
        <result column="base_biz_id" property="base_biz_id"/>
        <result column="job_user_id" property="job_user_id"/>
        <result column="biz_screen_mark" property="biz_screen_mark"/>
        <result column="biz_screen_ip" property="biz_screen_ip"/>
        <result column="hidden" property="hidden"/>
    </resultMap>

    <sql id="setBizScreenInfo_col">
        biz_screen_id,
        base_biz_id,
        job_user_id,
        biz_screen_mark,
        biz_screen_ip
    </sql>


    <insert id="setSetBizScreenInfo" useGeneratedKeys="true" keyProperty="biz_screen_id">
        INSERT INTO
        evaluate_sys.set_biz_screen_info
        (base_biz_id, biz_screen_mark, job_user_id, biz_screen_ip)
        VALUES (#{base_biz_id}, #{biz_screen_mark}, #{job_user_id}, #{biz_screen_ip})
    </insert>


    <select id="queryBySetBizScreenInfo" resultMap="setBizScreenInfo">
        SELECT
        <include refid="setBizScreenInfo_col"/>
        FROM evaluate_sys.set_biz_screen_info
        <where>
            <if test="biz_screen_id > 0">
                biz_screen_id = #{biz_screen_id}
            </if>
            <if test="base_biz_id > 0">
                base_biz_id = #{base_biz_id}
            </if>

        </where>
    </select>


    <select id="querySetBizScreenInfoSet" resultMap="setBizScreenInfo">
        SELECT
        <include refid="setBizScreenInfo_col"/>
        FROM evaluate_sys.set_biz_screen_info
        <where>
            <if test="biz_screen_id > 0">
                biz_screen_id = #{biz_screen_id}
            </if>

        </where>
        ORDER BY biz_screen_id asc
    </select>


    <select id="querySetBizScreenInfoByUserId" resultMap="setBizScreenInfo">
        SELECT
        <include refid="setBizScreenInfo_col"/>
        FROM evaluate_sys.set_biz_screen_info
        WHERE biz_screen_id = #{jobUserId}
    </select>


    <update id="updateBizScreenInfo">
        UPDATE evaluate_sys.set_biz_screen_info
        <set>
            <if test="base_biz_id > 0 ">
                base_biz_id = #{base_biz_id },
            </if>
            <if test="job_user_id > 0 ">
                job_user_id =#{job_user_id},
            </if>
            <if test=" biz_screen_ip != null">
                biz_screen_ip = #{ biz_screen_ip}
            </if>
            <if test="hidden == 0">
                hidden = 0
            </if>
        </set>
        WHERE
        biz_screen_id = #{biz_screen_id}
    </update>
</mapper>